# Application
APP_NAME=AI Meeting Assistant
DEBUG=True

# Database
DATABASE_URL=

# Security
SECRET_KEY=
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# AI
OLLAMA_BASE_URL=http://localhost:11434

# Meeting Platform
MEETING_PLATFORM=
ZOOM_CLIENT_ID=
ZOOM_CLIENT_SECRET=
ZOOM_WEBHOOK_SECRET_TOKEN=
